/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle

src/main/java/com/bw/weatherApi/weatherApi/constraints/EmailCollectionValidator\.java

src/main/java/com/bw/weatherApi/weatherApi/constraints/EmailConstraints\.java

src/main/java/com/bw/weatherApi/weatherApi/EmailConstraints\.java
